@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro:200,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  overflow: none;
}

html, body {width: auto!important; overflow-x: hidden!important} 

p{
  margin-bottom: 5px;;
}

.logo{
  width: 50px;
  height: 50px;
	border-radius: 200px 200px 200px 200px; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Pacifico', cursive;
  color: #f1fffe;
  background-color: #4DB6AC;
}

#top{
  background-color: #E0F2F1;
  color: #009688;
  height: 180px;
  width: 100%;
}

#landing-page{
  background-color: #E0F2F1;
  color: #4DB6AC;
  height: 80%;
  width: 100%;
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 1.5em;
}

#top-nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

.push{
  margin-right: auto;
  
}

#top-nav li{
  padding: 1.5em;
  font-family: 'Source Code Pro', monospace;
}

a{
  text-decoration: none;
  color: #009688;
}

a:hover{
  color: #315652;

}

/* COMPUTER IMG*/
.comuter{
  width: 100%;
  margin: 0 auto;
}

.screen{
  margin: 0 auto;
  width: 330px;
  height: 190px;
  background-color: #607D8B;
  border-radius: 25px 25px 0 0;
  color: #fff;
  padding: 1em;
}

.tab {
  margin-left: 2em
 }

 .tab2 {
  margin-left: 4em
 }

.key{
  margin: 0 auto;
  width: 330px;
  height:60px;
  background-color: #E0E0E0;
  border-radius: 0px 0px 20px 20px;
  padding-top: 5px;
}

.button{
  background-color: #B0BEC5;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.stand{
  margin: 0 auto;
  background-color: #B0BEC5;
  width: 50px;
  height: 50px;
}

.bottom-stand{
  margin: 0 auto;
  background-color: #B0BEC5;
  width: 150px;
  height: 10px;
}

h2{
  color: #315652;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 2em;
}

/* About me*/
#center{
    text-align: center;
}

.container-about{
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
}

.my-picture{
  width: 300px;
  height: auto;
}

#about-me{
  margin: 2em;
}

#about-me h2{
  text-align: left;
  width:100%;
  margin-bottom: 2em;
}

/* Style the button*/
.container-about .btn {
  border: none;
  outline: none;
  padding: 12px 20px;
  background-color: #009688;
  color: #f8f8f8;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 3em;
  border: 2px solid transparent;
}

.container-about .btn:hover {
  background-color: #f9fafa;
  color: #315652;
  border: 2px solid #315652;
}

#skills{
  height: 225px;
  background-color: #315652;
  color: #eee;
  margin: 4em 0;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

h1 {
  font-weight: 200;
  margin: 0.4rem;
  font-size: 2.5rem;

}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media(max-width: 800px) {
  .skills-container {
    padding: 0 1rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 1.3rem;
  }
}

@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: #ddd;}
  to {background-color: #B388FF;}
}

#div1{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  box-shadow: inset 0 0 0 0 #B388FF;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

/* Projects */
#projects {
  margin: auto;
  padding: 2em;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

.projects-header{
  color: #315652;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.projects-pic{
  width: 80px;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
  margin: 0 auto;
}

.column {
  width: 450px;
  display: none; /* Hide all elements by default */
}

.column:hover{
  transform: scale(1.1);
}

/* Content */
.content {
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* The "show" class is added to the filtered elements */
.show {
  display: flex;
}

#myBtnContainer{
  margin: 1em 2em;
}

/* Style the buttons */
#projects .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;

}

#projects .btn:hover {
  background-color: #E0F2F1;
}

#projects .btn.active {
  background-color: #4DB6AC;
  color: white;
}

h3, h4{
  color: #4DB6AC;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 30px;
}

.project-title{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.17em;
  font-weight: bold;
  color: #4DB6AC;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 30px;
}

.project-title li{
  margin-left: 1em;
}

/* Skills */
.tags
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tags li
{
  padding: 0.2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin: 0.2em;
  font-size: 0.7em;
  border: 2px solid #4DB6AC;
  border-radius: 10px;
}

/* FOOTER*/
footer{
  color: #315652;
  background-color: #E0F2F1;
  padding: 1em;
}

#bottom-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-links li{
  padding: 1.5em;
}

footer p{
  text-align: center;
}

/* MEDIA QUARIED*/

  /* For tablets: */
@media only screen and (min-width: 650px) {
  .container{
    width: 80%;
  }
  #top-nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* EDUCATION */
  #education{
    padding: 3em;
  }

}

  /* For desktop: */
@media screen and (min-width: 768px) {
  #top-nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.screen{
  width: 380px;
  height: 200px;
  }

.key{
  width: 380px;
  }

  .container-about{
    padding-top: 5em;
  }

  .my-picture{
    width: 400px;
    height: auto;
  }

  #about-me{
    width: 40%;
    margin-left: 3em;
  }

}