@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro:200,400');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  overflow: none;
}

p{
  margin-bottom: 5px;;
}

.logo{
  width: 50px;
  height: 50px;
	border-radius: 200px 200px 200px 200px; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Pacifico', cursive;
  color: #E0F2F1;
  background-color: #4DB6AC;
}

#top{
  background-color: #E0F2F1;
  color: #009688;
  height: 180px;
}

#landing-page{
  background-color: #E0F2F1;
  color: #009688;
  height: 400px;
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 1.5em;
}

#top-nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

.push{
  margin-right: auto;
}

li{
  padding: 1.5em;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
}

a{
  text-decoration: none;
  color: #009688;
}

/* COMPUTER IMG*/
.container-landing{
  width: 380px;
  margin: 0 auto;
}

.screen{
  margin: 0 auto;
  width: 300px;
  height: 150px;
  background-color: #607D8B;
  border-radius: 25px 25px 0 0;
  color: #fff;
  padding: 1em;
}

.tab {
  margin-left: 2em
 }

 .tab2 {
  margin-left: 4em
 }

.key{
  margin: 0 auto;
  width: 300px;
  height:60px;
  background-color: #E0E0E0;
  border-radius: 0px 0px 20px 20px;
  padding-top: 5px;
}

.button{
  background-color: #B0BEC5;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.stand{
  margin: 0 auto;
  background-color: #B0BEC5;
  width: 50px;
  height: 50px;
}

.bottom-stand{
  margin: 0 auto;
  background-color: #B0BEC5;
  width: 150px;
  height: 10px;
}

/* About me*/
h2, h3, h4{
  color: #4DB6AC;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin-bottom: 30px;
}

#center{
    text-align: center;
}

/* Skills */
.container-about{
  padding: 5em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 2px;
  overflow: none;
}

#about-me{
  width: 40%;
  margin-left: 3em;
}

#about-me h2{
  text-align: left;
  border-bottom: 1px solid #000;
  width:100%;
  margin-bottom: 1em;
}

#about-me a:hover{
  color: #315652;

}

.me {
  width: 30%;
}

/* Style the button*/
.container-about .btn {
  border: none;
  outline: none;
  padding: 12px 20px;
  background-color: #009688;
  color: #f8f8f8;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 3em;
  border: 2px solid transparent;
}

.container-about .btn:hover {
  background-color: #f9fafa;
  color: #315652;
  border: 2px solid #315652;
}

.my-picture{
  width: 400px;
  height: auto;
}

@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: #ddd;}
  to {background-color: #B388FF;}
}

#div1{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  box-shadow: inset 0 0 0 0 #B388FF;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

/* Projects */
#projects {
  margin: auto;
  font-size: 1.2em;
  padding: 2em;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
  margin: 0 auto;
}

.column {
  width: 30em;
  display: none; /* Hide all elements by default */
}

/* Content */
.content {
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* The "show" class is added to the filtered elements */
.show {
  display: flex;
}

#myBtnContainer{
  margin-left: 2em;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 0.7em;

}

.btn:hover {
  background-color: #E0F2F1;
}

.btn.active {
  background-color: #4DB6AC;
  color: white;
}

/* Skills */

.tags
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tags li
{
  padding: 0.2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin: 0.2em;
  font-size: 0.7em;
  border: 2px solid #4DB6AC;
  border-radius: 10px;
}

/* FOOTER*/
footer{
  color: #315652;
  background-color: #E0F2F1;
  padding: 1em;
}

#bottom-links ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
  text-align: center;
}

/* TYPEWRITTER */
.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #4DB6AC; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4DB6AC }
}

/* MEDIA QUARIED*/

  /* For tablets: */
@media only screen and (min-width: 650px) {
  .container{
    width: 80%;
  }
  #top-nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* EDUCATION */
  #education{
    padding: 3em;
  }

  .column {
    width: 20em;
  }

}

  /* For desktop: */
@media screen and (min-width: 768px) {
  #top-nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* EDUCATION */


  .container-about{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .container-cover{
  width: 380px;
  margin: 0 auto;
  }

.screen{
  width: 380px;
  height: 200px;
  }

.key{
  width: 380px;
  }

}